<!DOCTYPE html>
<html lang="en">


<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <title>welcome to SHUBHAM</title>
</head>

<body>
<style>
    
  
</style>
<script>

</script>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
    <div class="container">
      
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="profile">Profile</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="about">about</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="contact">contact us</a>
          </li>
            </ul>
          </li>
        </ul>
      </div>
    </nav>
  </nav>
<!-- Card -->
<div class="card card-image"
  style="background-image: url(https://thumbs.dreamstime.com/b/personal-data-theft-hacking-concept-abstract-digital-metaverse-wallpaper-dark-hacker-hoody-silhouette-using-laptop-248145022.jpg);">

  <!-- Content -->
  <div class="text-white text-center rgba-black-strong py-5 px-4" style = "margin-top: 204px;"
    <div>
        <div style= "height:673px"; style="text-align:center">
            <h5 class="pink-text"><i class="fas fa-chart-pie" ></i> <strong>WEB DEVELOPER</strong></h5>
            <h3 class="card-title pt-2"><strong>THIS IS SHUBHAM PATIAL</strong></h3>
            <p>
               I AM EMPLOYYEE IN ELECELLENCE TECHONOLOGY AND DOING JOB AS A WEB DEVELOPER IN CHANDIGARH(MOHALI)</p>
          </div>
    </div>
  </div>

</div>
<!-- Card -->